@{
    Layout = null;
}

@model LoginModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Water Project Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m -1-2">Water Project</span>
    </div>
    <div class="m-1 p-1" >
        <div class="text-danger" asp-validation-summary="All" ></div>

        <form method="post" asp-controller="Account" asp-action="Login" >
            <div class="form-group">
                <label asp-for="Username">User Name:</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>
            <br /><br />

            <button class="btn btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>
</body>

</html>