@inherits LayoutComponentBase


<div class="bg-info text-white p-2"  >
    <div class="containner-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Water Project Administration</span>
            </div>

            <div class="col-2 text-rigth">
                <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/projects" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Projects</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/donations" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Donations</NavLink>
            </div>
        </div>

        <div class="col">
            @Body
        </div>
    </div>
</div>
